*{
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
body{
  background-color: #0E000b;
}
.hero{
  background: url(../src/assets/Hero.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #0E000b;
}
.content{
  background: url(../src/assets/hero-img.png);
  background-position: center;
}